<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.Hackathon.bialgenieapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BialGenieApp">
        <activity
            android:name=".ChatBotActivity"
            android:theme="@style/mainPage"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity android:name="com.microsoft.identity.client.BrowserTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.Hackathon.bialgenieapp"
                    android:path="/0KSITcEtDY/E9LCroVuVetYhf20="
                    android:scheme="msauth"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FlightDetailsActivity2"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage2" />
        <activity
            android:name=".FlightSearchDetails"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage2" />
        <activity
            android:name=".FromToFlightResults"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage" />
        <activity
            android:name=".FlightsDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage2" />
        <activity
            android:name=".FlightSearchActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage" />
        <activity
            android:name=".Authentication"
            android:exported="true"
            android:theme="@style/logInPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage" />
        <activity
            android:name=".Fragments.Transit.Transit_Bus"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage" />
        <activity
            android:name=".Fragments.Transit.Transit_Cab"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage" />
        <activity
            android:name=".Fragments.Transit.Transit_Parking"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage" />
        <activity
            android:name=".Fragments.Transit.Transit_Train"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage" />
    </application>

</manifest>