<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.Hackathon.bialgenieapp">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BialGenieApp">
        <activity
            android:name=".Actvities.FlightAcitivities.ExploreAirport"
            android:theme="@style/mainPage"
            android:exported="false" />
        <activity
            android:name=".Actvities.FeedbackForm"
            android:theme="@style/mainPage"
            android:exported="false" />
        <activity
            android:name=".Actvities.ChatBotActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage" />
        <activity android:name=".Fragments.Transit.TrackCharges"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage"
            />
        <activity android:name="com.microsoft.identity.client.BrowserTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.Hackathon.bialgenieapp"
                    android:path="/ZCGA7ST7d0JeNPvtCazJK9sJCxA="
                    android:scheme="msauth"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Actvities.FlightAcitivities.FlightDetailsActivity2"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage2" />
        <activity
            android:name=".Actvities.TrainInfo"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage" />
        <activity
            android:name=".Actvities.FlightAcitivities.FlightSearchDetails"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage2" />
        <activity
            android:name=".Actvities.FlightAcitivities.FromToFlightResults"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage" />
        <activity
            android:name=".Actvities.FlightAcitivities.FlightsDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage2" />
        <activity android:name=".Actvities.RestaurantsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage2"
            />
        <activity android:name=".Actvities.ShoppingActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage2"
            />
        <activity
            android:name=".Actvities.FlightAcitivities.FlightSearchActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage" />
        <activity
            android:name=".Actvities.Authentication"
            android:exported="true"
            android:theme="@style/logInPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Actvities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage" />
        <activity
            android:name=".Fragments.Transit.Transit_Bus"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage" />
        <activity
            android:name=".Fragments.Transit.Transit_Cab"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage" />
        <activity
            android:name=".Fragments.Transit.BusRoute"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage" />
        <activity
            android:name=".Actvities.Transit_Parking"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage" />
        <activity
            android:name=".Fragments.Transit.Transit_Cab_Ola_Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage" />
        <activity
            android:name=".Fragments.Transit.Transit_Train"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainPage" />
    </application>

</manifest>